# Backend
backend/venv/
backend/app/cnn-models/efficientnet_music_genre_model.h5
backend/__pycache__/
backend/.env.local
backend/vibe-sync-admin.json
*.pyc

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env.*.local
frontend/.next/

# Python
*.pyc
*.pyo
__pycache__/
venv/

# Logs
*.log

.env

.vscode
